---
banner: "![[computerscience.jpg]]"
---
# Validation and Verification